@tailwind base;
@tailwind components;
@tailwind utilities;

#map { 
    height: 75vh;
}

#smallmap {
    height: 200px!important;
}

.loadingHero {
    animation: loadingHero 3s linear;
}


@keyframes loadingHero {
    0% {color: hsl(0, 90%, 27%);}
    50% {color: hsl(60, 96%, 69%);}
    100% {color: hsl(55, 92%, 95%) }
    }

@layer base {


    html {
        font-size: 62.5%;
        @apply bg-yellow-100 text-slate-950 m-0;
    }

    h1 {
        font: normal 900 4.8rem/5.6rem "Roboto", sans-serif;
        
    }

    h2 {
        font: normal 600 3.6rem/3.4rem "Roboto Slab", sans-serif;
    
    }

    h3 {
        font: normal 700 2.4rem/2.8rem "Roboto Slab", sans-serif;

    }

    h4 {
        font: normal 400 1.8rem/2.1rem "Roboto", sans-serif;
    }

    p, div, select {
        font: normal 400 1.4rem/1.8rem "Roboto", sans-serif;
    }

    button {
        font: normal 600 1.4rem/1.8rem "Roboto", sans-serif;
    }


    input {
        border-radius: .5rem !important;
    }
    input:focus {
        /* box-shadow: hsl(45, 5%, 16%) !important; */
        outline-color: transparent !important;
        border-color: hsl(38, 96%, 58%) !important;
        
     }


     select {
        @apply block appearance-none w-full mt-2 bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight;
        border-radius: .5rem !important;
     }




html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}



    @font-face {
        font-family: 'Roboto Slab';
        src: url('./assets/fonts/robotoslab-thin-webfont.woff2') format('woff2'),
             url('./assets/fonts/robotoslab-thin-webfont.woff') format('woff');
        font-weight: 100;
        font-style: normal;
    
    }
    
    
    
    @font-face {
        font-family: 'Roboto Slab';
        src: url('./assets/fonts/robotoslab-semibold-webfont.woff2') format('woff2'),
             url('./assets/fonts/robotoslab-semibold-webfont.woff') format('woff');
        font-weight: 600;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'Roboto Slab';
        src: url('./assets/fonts/robotoslab-regular-webfont.woff2') format('woff2'),
             url('./assets/fonts/robotoslab-regular-webfont.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'Roboto Slab';
        src: url('./assets/fonts/robotoslab-medium-webfont.woff2') format('woff2'),
             url('./assets/fonts/robotoslab-medium-webfont.woff') format('woff');
        font-weight: 500;
        font-style: normal;
    
    }
    
    @font-face {
        font-family: 'Roboto Slab';
        src: url('./assets/fonts/robotoslab-light-webfont.woff2') format('woff2'),
             url('./assets/fonts/robotoslab-light-webfont.woff') format('woff');
        font-weight: 300;
        font-style: normal;
    
    }

    @font-face {
        font-family: 'Roboto Slab';
        src: url('./assets/fonts/robotoslab-extralight-webfont.woff2') format('woff2'),
             url('./assets/fonts/robotoslab-extralight-webfont.woff') format('woff');
        font-weight: 200;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'Roboto Slab';
        src: url('./assets/fonts/robotoslab-extrabold-webfont.woff2') format('woff2'),
             url('./assets/fonts/robotoslab-extrabold-webfont.woff') format('woff');
        font-weight: 800;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'Roboto Slab';
        src: url('./assets/fonts/robotoslab-bold-webfont.woff2') format('woff2'),
             url('./assets/fonts/robotoslab-bold-webfont.woff') format('woff');
        font-weight: 700;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'Roboto Slab';
        src: url('./assets/fonts/robotoslab-black-webfont.woff2') format('woff2'),
             url('./assets/fonts/robotoslab-black-webfont.woff') format('woff');
        font-weight: 900;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'Roboto Slab';
        src: url('./assets/fonts/robotoslab-thin-webfont.woff2') format('woff2'),
             url('./assets/fonts/robotoslab-thin-webfont.woff') format('woff');
        font-weight: 100;
        font-style: normal;
    
    }
}


@layer components {
    .btn {
        @apply rounded-full m-3 p-4 w-6/12 mx-auto content-center text-yellow-50 bg-emerald-800  active:bg-emerald-950  active:shadow-green-950/50 active:text-white
    }


}
